# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Some of the popular languages that Data Scientists
- Data Science Tools
- Simple arithmetic expression to mutiply then add integers
- Convert 200 minutes to hours by diving by 60

Some of the popular languages that Data Scientists use are:
1. Java
2. R
3. Python

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Scipy

Data Science Tools
1. Rstudio
2. Apache Spark
3. TensorFlow

Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author

Peter